## mako

<%namespace name='static' file='/static_content.html'/>
<link rel="stylesheet" href="${static.url('themes/hayatboyu/css/hayatboyu.css')}" />
<meta name="google-site-verification" content="hLtkiwCLIfKSHc7KU25ouKrYT8_OilcfCljEmKTuDBA" />
<meta name="robots" content="noodp,noydir"/>
<meta name="description" content="Yaşar Üniversitesi Hayat Boyu Öğrenme Ortamı Herkes için, herzaman, heryerden alabileceğiniz dersler sunmaktadır. "/>
<meta name="keywords" content="açık dersler, open edx, edx, yaşar üniversitesi açık dersler, sertifikalı açık dersler,
ücretsiz online dersler, mooc, edx türkiye"/>
<link rel="canonical" href="http://hayatboyu.yasar.edu.tr/" />
<meta name="author" content="Emrah Emirtekin">
