.home>header .outer-wrapper {
    min-height: 350px;
}

header.global .user>.primary:last-child>a {
    padding: 8px 10px;
}

.highlighted-courses .courses .course, .find-courses .courses .course {

    border: 1px solid #d1d5d3;
}
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.add-to-cart {
    text-transform: none;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong {
    text-transform: none;
}

header.global .nav-global li a, header.global .nav-global div a {
    color: #ffffff;
}

header.global.slim h2 {
    color: #ffffff;
    text-shadow: 0 1px 0 #1755a5;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
    color: #ffffff;
}

.wrapper-footer footer#footer-openedx a {
    color: #779f59;
}

.dashboard .my-courses .course .details .enter-course, .verification-process .report-receipt-provider .provider-buttons-logos .complete-order button {
    background-color: #779f59;
    color: #ffffff;
}
.course-info .container nav a, .course-info section.outside-app nav a, .course-info .wrapper-account-settings nav a, .course-info .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy nav a, .view-profile .profile-self .wrapper-profile-field-account-privacy .course-info .u-field-account_privacy nav a, .course-info .view-profile .wrapper-profile-sections nav a, .view-profile .course-info .wrapper-profile-sections nav a {
        text-transform: none;
    }

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart {
        text-transform: none;
    }

.home>header .media {
        border: 1px solid #ffffff;
        float: right;
        width: 175px;
        margin-top: -10px;
    }
    .home>header .title {
        padding: 10px 0px 0px 20px;
        margin-top: -10px;
    }

    .home>header .media .hero .play-intro {
        background-color: #779f59;
        background-image: -webkit-linear-gradient(-90deg, #779f59, #779f59);
        background-image: linear-gradient(-90deg, #779f59, #779f59);
        border: 0px solid rgba(255,255,255,0.8);
        height: 45px;
        margin-top: -25px;
        margin-left: -25px;
        width: 45px;
    }

.btn-blue, .dashboard-banner .wrapper-msg .msg.has-actions .donate-actions .action-donate, .login-register .action-primary, .verification-process .carousel .wrapper-task .controls .control .action, .verification-process .carousel .wrapper-task .msg .list-actions .action-retakephotos a, .verification-process .carousel #wrapper-review .review-task-name .list-actions .action-editname a, .verification-process.step-select-track .register-choice-audit .action-select input, .verification-process.step-confirmation .course-info .options .action-course, .verification-process.step-confirmation .course-info .course-actions .action-dashboard, .reverify-blocked .action-primary, .wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn {
    box-shadow: 0 2px 1px 0 #779f59;
    background: #779f59;
    color: #fff;
}
