<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about">
<h1>${_("About")}</h1>
<p>Açık Ders, tüm dünyadaki öğretim elemanları, öğrenciler ve kendi kendine öğrenenler için hazırlanmış ücretsiz ve açık eğitsel kaynaklara sahip olan derslerdir.
</p>
<p>Bireysel öğrenmeye yönelik ücretsiz ve açık olarak sunulan, eğitsel kaynaklar olan Açık Ders Malzemeleri, ders kredisi veya herhangi bir derece sunmamakla birlikte çeşitli derslerin materyallerine kolaylıkla erişmenizi sağlar. Açık Ders Malzemelerinin telifleri ile ilgili konular dersi hazırlayan öğretim üyesinin sorumluluğundadır. Fakat buradan dersin öğretim üyelerine doğrudan erişim imkânı sunulmamaktadır.</p>
<p>Yaşar Üniversitesi, 2000 yılından beri uygulanan Ulusal Açık Ders Malzemeleri Konsorsiyumu'na üyedir ve oluşturduğu açık eğitim ortamı üzerinden üniversitedeki Açık Ders Malzemeleri paylaşılmaktadır.</p>
<p>Yaşar Üniversitesi Açık Ders Malzemeleri olarak derslerin notlarını, kitaplarını, dersin sunum, görsel ve videolarını açık eğitim portalı üzerinden sunmaktadır. Sistem üzerinden ilgi duyduğunuz derslerin kitaplarını okuyabilir, videolarını ve uygulamaları izleyebilir ve çok çeşitli konulara ait içeriklere ulaşabilirsiniz.</p>
</section>

<section class="container about">
<h1>Sertifikalandırma</h1>
<p>Açık Ders Malzemeleri Yaşar Üniversitesinin bir eğitimi olmadığından doğrudan bir diploma ya da ders kredisi kazanmanız söz konusu değildir. Fakat dersleri tamamladıktan sonra dersin başarı koşullarına bağlı olarak sınav ya da uygulamalar girip sertifika alabilirler.</p>
</section>
